<h1 class="text-3xl font-bold mb-4"><%= @page.title %></h1>
<div class="prose max-w-none mb-6">
  <%= @page.body.html_safe %>
</div>
<%= link_to "Edit", edit_page_path(@page), class: "btn btn-primary" %>
<%= link_to "Back to All", pages_path, class: "btn btn-link ml-2" %>
