<div class="container">
  <h1>Fill & Sign: <%= @document.name %></h1>
  
  <docuseal-builder
    data-controller="docuseal"
    data-token="<%= @docuseal_token %>"
    data-template-id="<%= @template_id %>"
    data-roles="Company,Customer">
  </docuseal-builder>
</div>
