<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1>Editors</h1>
      <%= link_to "New Editor", new_editor_path, class: "btn btn-primary" %>
    </div>
    
    <div class="list-group">
      <% @editors.each do |editor| %>
        <%= link_to editor.title, editor, class: "list-group-item list-group-item-action" %>
      <% end %>
    </div>
  </div>
</div>
